@model Gitria.Core.Models.GitriaModel

@Scripts.Render("~/Scripts/GitriaScripts/GithubCommunication.js")
@Scripts.Render("~/Scripts/GitriaScripts/GitriaChartHandler.js")

<head>
    <!-- Custom CSS -->
    <link href="../../Content/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Gitria</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Flave229</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <div id="page-wrapper">
            <br />
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-code fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <span id="weekCount">@Model.CommitsThisWeekCount</span>
                                    </div>
                                    <div>Commits This Week</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-code fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        <span id="monthCount">@Model.CommitsThisMonthCount</span>
                                    </div>
                                    <div>Commits This Month</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-book fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@Model.ActiveRepositories</div>
                                    <div>Active Repositories</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">1</div>
                                    <div>Issue</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-pie-chart fa-fw"></i> Repository Statistics
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            @foreach (var repository in Model.Repositories.OrderByDescending(repository => repository.UpdatedAt))
                            {
                                <div class="applicationIcon">
                                    <span class="applicationText">@repository.Initials</span>
                                </div>
                                <div class="appDeletionsContainer">
                                    <canvas id="@(repository.Name)Deletions" class="appDeletions" height="110" width="110"></canvas>
                                </div>
                                <div class="appAdditionsContainer">
                                    <canvas id="@(repository.Name)Additions" class="appAdditions" height="120" width="120"></canvas>
                                </div>

                                <script>
                                    GenerateChartForId("@repository.Name", @Html.Raw(Json.Encode(@repository.WeeklyRepositoryStatistics)));
                                </script>
                            }
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Commit Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="commit-panel" class="list-group">
                                @foreach (var commit in Model.CommitsThisWeek)
                                {
                                    <div>
                                        <a href="@commit.Url" class="list-group-item">
                                            <table class="table-condensed" border="0">
                                                <tr>
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td class="img-size-20">
                                                                    <img src="@commit.Author.AvatarLink" class="img-circle img-scale" alt="@commit.Author.Name" />
                                                                </td>
                                                                <td>
                                                                    <h3><i class="fa fa-code fa-fw"></i> @commit.Author.Name committed to @commit.RepositoryName</h3>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0">
                                                            <tr>
                                                                <td>
                                                                    <span class="text-muted small">@commit.TimeAgo</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span>@commit.Message</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    @Html.Hidden("lastUpdate", Model.LastUpdate)
    @Html.Hidden("apiController", Url.Action("CheckForUpdates", "Home"))

    <script>
        window.setInterval(function () {
            CheckForUpdates();
        }, 15000)
    </script>
</body>
